################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeneralService/FileContentIndex/f5634674-7f1c-49b4-a652-512e7f58015b.vsidx
