################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeneralService/FileContentIndex/f5634674-7f1c-49b4-a652-512e7f58015b.vsidx
/.vs/GeneralService/FileContentIndex/7f54440d-8385-4467-a305-1c09f25a9389.vsidx
